@media (max-width: 1010px) {
  .navtext {
    font-size: small;
  }
}

@media (max-width: 970px) {
  .Navtext {
    display: none;
  }
  .headericons {
    display: none;
  }
  .fa-bars {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .headericons {
    display: none;
  }
}

