@media (max-width: 1010px) {
  .navtext {
    font-size: small;
  }
  .Navtext {
    display: none;
  }
  .headericons {
    display: none;
  }
  .fa-bars {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 950px) {
  header nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    height: 100vh;
    width: 300px;
    max-width: 100%;
    top: 70px;
    right: -300px;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
}

@media (max-width: 830px) {
  .maintitle {
    font-size: 20px;
  }
  .basicinfo {
    font-size: 17px;
    gap: 20px;
  }
  .naxemeti {
    font-size: 16px;
  }
  .gverditaimg {
    width: 220px;
    height: 200px;
  }
}

@media (max-width: 810px) {
  .s-3 {
    height: 800px;
  }

  .mosamartleebi {
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    gap: 30px;
    margin-left: 10px;
  }

  .gaformeba,
  .gaformeba2,
  .gaformeba3 {
    width: 50%;
    max-width: 200px; /* Adjust width as needed */
    /* border: 2px solid red; */
    margin-left: 30px;
  }

  .daxasiateba {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 50px;
    /* gap: 60px; */
    max-width: 500px;
  }

  .daxasiateba {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
    color: #c0846e;
    font-weight: 700;
    padding-top: 10px;
    /* border: solid 2px red; */
    width: 60%;
    position: absolute;
    right: 0;
    top: 61%;
    transform: translateY(-50%);
    box-sizing: border-box;
    height: 500px;
  }

  .gaformeba,
  .gaformeba2,
  .gaformeba3 {
    border-radius: 100%;
    background-color: #d26a00;
    padding: 50px;
    margin: 0; /* Remove auto margin */
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center; /* Align items to the left */
    text-align: center;
  }

  .gaformeba {
    max-width: 30%;
  }

  .gaformeba2 {
    padding: 50px; /* Adjust padding as needed */
    max-width: 30%;
    align-items: center;
  }

  .gaformeba3 {
    padding: 50px; /* Adjust padding as needed */
    max-width: 30%;
  }
  .mosamartleferebi {
    font-size: 14px;
  }
  .mosamartleferebi1 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  nav > a p {
    font-size: 18px;
  }
  nav > a img {
    width: 30px;
  }
  header nav > ul,
  header nav > ul {
    top: 50px;
  }
  .mttext p,
  nav > ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .mttext h2 {
    font-size: 40px;
  }
  .mttext p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .gverditaimg {
    max-height: 210px;
    margin: auto auto;
    max-width: 340px;
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 760px) {
  .maintitle {
    font-size: 16px;
  }
  .basicinfo {
    font-size: 14px;
  }
  .naxemeti {
    font-size: 14.5px;
  }
  .gverditaimg {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 730px) {
  .footer,
  footer section {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .footer {
    margin-bottom: 0;
  }

  .navigation {
    margin-top: 0;
    padding-right: 0;
  }

  .figure1 {
    margin-top: 20px;
    margin-left: 0; /* Remove any left margin */
  }

  footer span {
    order: 4;
    margin-top: 20px;
  }

  .h4footer2 span {
    margin-left: 0;
  }

  .figure1 {
    display: flex;
    text-align: left;
  }

  /* New styles to align contact and social media to the left edge */
  .contact,
  .social-media {
    margin-left: 0;
    padding-left: 0;
  }
  .ptext {
    font-size: 40px;
  }
}

@media (max-width: 670px) {
  .s-22 {
    margin-top: 200px;
  }
}

@media (max-width: 600px) {
  .s-22 {
    margin-top: 150px;
  }
}
@media (max-width: 570px) {
  .smallinfo {
    flex-direction: column;
    align-items: center;
  }

  .basicfigure {
    order: 1;
    margin-right: 0;
  }
  .basicinfo {
    font-size: 11.5px;
  }
  .naxemeti {
    font-size: 10px;
  }

  .gverditaimg {
    order: 2;
    margin-top: 20px;
    align-self: stretch;
  }
}

@media (max-width: 570px) {
  .mosamartleebi {
    font-size: 15px;
  }
  .gaformeba .gaformeba2 .gaformeba3 {
    padding: 30px;
    font-size: 12px;
  }

  .fa-landmark .fa-gavel .fa-scale-balanced {
    font-size: 10px;
  }

  .daxasiateba {
    font-size: 14px;
  }
  .ptext {
    font-size: 28px;
  }
}

@media (max-width: 565px) {
  .mosamartleebi {
    font-size: 13px;
    max-width: auto;
  }
  .gaformeba .gaformeba2 .gaformeba3 {
    padding: 16px;
    font-size: 10px;
  }

  .fa-landmark .fa-gavel .fa-scale-balanced {
    font-size: 7px;
  }

  .daxasiateba {
    font-size: 11px;
  }
  .jointext {
    font-size: 17px;
  }
  .contacttext {
    font-size: 17px;
  }
}

@media (max-width: 450px) {

  .s-33 {
    height: 550px;
  }

  .merabturavainfo {
    font-size: 13px;
  }
  .personality{
    padding: 2px 6px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px 5px 0 0;
  }
  .quote {
    font-size: 14px;
  }
  .detail-section p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .headericons {
    display: none;
  }
  .ptext {
    font-size: 19px;
  }

  .mttext > h2 {
    font-size: 23px;
  }

  .mttext > p {
    font-size: 12px;
  }
}




@media (max-width: 300) {
  .ptext {
    font-size: 12px;
  }
}
